In [2]:
!pip install pandas sklearn

Collecting pandas
  Downloading pandas-1.5.0-cp38-cp38-win_amd64.whl (11.0 MB)
     --------------------------------------- 11.0/11.0 MB 43.7 MB/s eta 0:00:00
Requirement already satisfied: sklearn in c:\users\chris\appdata\local\programs\python\python38\lib\site-packages (0.0)
Requirement already satisfied: numpy>=1.20.3 in c:\users\chris\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.23.3)
Collecting pytz>=2020.1
  Using cached pytz-2022.2.1-py2.py3-none-any.whl (500 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\chris\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: scikit-learn in c:\users\chris\appdata\local\programs\python\python38\lib\site-packages (from sklearn) (1.1.2)
Requirement already satisfied: six>=1.5 in c:\users\chris\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\chris\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn->sklearn) (1.9.1)
Requirement already satisfied: joblib>=1.0.0 in c:\users\chris\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn->sklearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\chris\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.0 pytz-2022.2.1

In [5]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from datetime import datetime
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [10]:
dataset = pd.read_csv(os.path.join(os.getcwd(), "../../data/vectors/vector.csv"), header = None, delimiter=',', names = list(range(150)))

In [12]:
dataset.dropna(how='all')
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,-15.138926,2.106980,2.735102,3.355777,0.759586,-19.430781,5.612832,3.089403,4.227920,11.048449,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-15.428091,16.758788,5.130048,4.540909,18.783533,-18.542018,4.338640,2.660826,9.064463,17.644304,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-2.155112,-15.990361,3.499145,2.696861,6.662967,-6.572656,4.626157,3.962111,-15.191983,15.354067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.176409,12.268334,2.825052,2.235162,-8.728322,-7.598213,2.592677,3.158372,19.831005,-14.813372,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15.039568,-3.857973,3.553933,2.890238,3.239212,-1.239263,5.175412,3.439370,-5.067780,0.809135,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN